@import "vars";

////green.css
$mainColor: hsl(120, 100%, 25%);
$secondColor: hsl(120, 100%, 50%);
$thirdColor: hsl(120, 100%, 55%);
$hoverColor: hsl(120, 100%, 15%);

body.green{
  @import "template-colors";
}