@import "vars";

////navy.css
$mainColor: hsl(240, 100%, 25%);
$secondColor: hsl(240, 100%, 50%);
$thirdColor: hsl(240, 100%, 65%);
$hoverColor: hsl(240, 100%, 15%);

body.navy{
  @import "template-colors";
}