#jstore-css #lsp-block-content .lsp-block-cartpage-inner{
  width: 65%;
  margin: 0 auto;
  .lsp-block-cartpage-items{
    .lsp-delete-item{
      width: 14px;
      height: 14px;
      background-color: rgba(255,255,255,0.8);
    }
  }
}